{% extends "base.html" %}

{% block title %}Merch-{{ inventory_item.item_name }}{% endblock %}

{% block content %}
    <div class="container container-margin">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src={{ inventory_item.image }}/>
            </div>
            <div class="col-sm-9">
                <h1>{{ inventory_item.item_name }}</h1>

                <p class="lead">{{ inventory_item.description }}</p>
                <button class="btn btn-lg btn-primary" type="button">
                    ${{ inventory_item.price }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}