{% extends "base.html" %}

{% block title %}Merchandise{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for item in inventory_list %}
                <div class="col-sm-3">
                    <a href="{% url 'merch:merch_detail' item.id %}">
                        <img class="img-thumbnail img-responsive" src={{ item.image }}/>
                    </a>
                    <h4><a href="{% url 'merch:merch_detail' item.id %}">
                        {{ item.item_name }}</a></h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}