{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}
    <div class="container container-margin">
    		<h1>Menu</h1>
        <hr>
		<div class="row">
        <div id="myCarousel" class="carousel slide" >
        <!-- Carousel items -->
          <div class="carousel-inner" " style="margin: 0 auto">
            <div class="item">
                <img src="static/images/crunchy-salad-tonys-cincy.jpg" alt=""/>
                <div class="carousel-caption">
                    <h3>Crunchy Salad</h3>
                        <p class="lead">romaine + tomatoes + olives + red onion + feta cheese + tony’s signature greek dressing</p>
                        <h3>$29</h3>
                </div>
            </div>
            <div class="item">
                <img src="static/images/Dallas-Clark-strip-steak1.jpg" alt=""/>

                <div class="carousel-caption">
                    <h3>Strip Steak</h3>

                    <p class="lead">prime NY steak + mint leaves</p>

                    <h3>$29</h3>
                </div>
            </div>
            <div class="item">
                <img src="static/images/fish-tacos-uptown-cincy.jpg" alt=""/>

                <div class="carousel-caption">
                    <h3>Fish Tacos</h3>

                    <p class="lead">halibut + corn tortillas + mexican veg + herb aioli + avocado +
                        feta</p>

                    <h3>$18</h3>
                </div>
            </div>

            <div class="active item">
                <img src="static/images/scallops-photo-tonys.jpg" alt=""/>

                <div class="carousel-caption">
                    <h3>Pan Seared Scallops</h3>

                    <p class="lead">pan seared scallops + honeycrisp apple + squash puree + spinach
                        + bacon vinaigrette</p>

                    <h3>$31</h3>
                </div>
            </div>
            <div class="item">
                <img src="static/images/the-big-steak.jpg" alt=""/>

                <div class="carousel-caption">
                    <h3>Braised Short Ribs</h3>

                    <p class="lead">short ribs + mint leaves + cider demi</p>

                    <h3>$30</h3>
                </div>
            </div>
            <div class="item">
                <img src="static/images/tonys-shrimp_mussels-230.jpg" alt=""/>

                <div class="carousel-caption">
                    <h3>Linguine Frutti di Mare</h3>

                    <p class="lead">mussels + shrimp + lobster saffron broth</p>

                    <h3>$22</h3>
                </div>
            </div>
            <div class="item">
                <img src="static/images/tonys-surf.jpg" alt=""/>

                <div class="carousel-caption">
                    <h3>Surf and Turf</h3>

                    <p class="lead">9oz fillet + lobster tail</p>

                    <h3>$34</h3>
                </div>
            </div>

          </div>

          <!-- Carousel nav -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
{% endblock %}
