{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

<div id="myCarousel" class="carousel slide" >  
  <!-- Carousel items -->  
  <div class="carousel-inner" " style="margin: 0 auto">  
    <div class="active item"><img src="static/images/chicken-tnys1.jpg" alt=""/></div>  
    <div class="item"><img src="static/images/cannoli-desserts-cincy.jpg" alt=""/></div>  
    <div class="item"><img src="static/images/crunchy-salad-tonys-cincy.jpg" alt=""/></div>  
    <div class="item"><img src="static/images/Dallas-Clark-strip-steak1.jpg" alt=""/></div>
	<div class="item"><img src="static/images/fish-tacos-uptown-cincy.jpg" alt=""/></div>
	<div class="item"><img src="static/images/Salads-in-Cincy.jpg" alt=""/></div>
	<div class="item"><img src="static/images/scallops-photo-tonys.jpg" alt=""/></div>
	<div class="item"><img src="static/images/sesame-crusted-tuna-349.jpg" alt=""/></div>
	<div class="item"><img src="static/images/the-big-steak.jpg" alt=""/></div>
	<div class="item"><img src="static/images/tonys-shrimp_mussels-230.jpg" alt=""/></div>
	<div class="item"><img src="static/images/tonys-surf.jpg" alt=""/></div>

  </div>  
  

  <!-- Carousel nav -->  
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>  

{% endblock %}