{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/shows.css">

{% endblock %}
{% block content %}
    <div class="container container-margin">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Shows</li>
        </ol>
        <h2>Upcoming Shows</h2>

        <div class="row">

            {% for show in shows %}
                <div class="col-md-3">
                    <div class="well well-sm show">
                        <h3 class="title">{{ show.name }}</h3>
                        <h5 class="text-muted">{{ show.date }}</h5>

                        <div class="description">
                            <p>{{ show.description }}</p>

                            <p><a href="{% url 'shows:id' show.id %}">Read More</a></p>
                        </div>
                        <button class="btn btn-primary btn-block">Buy Ticket</button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}