{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/shows.css">

{% endblock %}
{% block content %}
    <div class="container container-margin">

        <h1>Upcoming Shows</h1><hr>
        <div class="row">
		<body background="/static/images/ticketbackground.jpg">
            {% for show in shows %}
                <div class="col-md-3">
                    <div class="well well-sm show">
                        <h3 class="title">{{ show.name }}</h3>
                        <h5 class="text-muted">{{ show.date }}</h5>

                        <div class="description">
                            <p>{{ show.description }}</p>

                            <p><a href="{% url 'shows:id' show.id %}">Read More</a></p>
                        </div>
                        <h4>{{ show.tickets_available }} Tickets Left!</h4>
                        <a class="btn btn-primary btn-block" href="{% url 'shows:id' show.id %}">Buy
                            Ticket</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}