{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/shows.css">
{% endblock %}
{% block content %}
    <div class="container container-margin">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/shows">Shows</a></li>
            <li class="active">{{ show.name }}</li>
        </ol>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="title">{{ show.name }}</h3>
                <h5 class="text-muted">{{ show.date }}</h5>

                <p>{{ show.description }}</p>
                <img src="/static/images/{{ show.image }}"></img>

                <p class="text-muted">{{ show.length }} minutes</p>
            </div>
            <div class="col-sm-8">
                <div style=" margin: 20px;">
                    {% for ticket in tickets %}
                        {% if ticket.seat.column == 0 %}
                            <div class="row ">

                        {% endif %}
                    <div class="col-xs-1 seat {% if ticket.sold == True %}seat-sold{% endif %} {% if ticket.seat.column == 0 %} col-xs-offset-1{% endif %}">
                        <a href="/shows/{{ show.id }}/ticket/{{ ticket.id }}">{{ ticket.seat.name }}</a>
                    </div>
                    {% if ticket.seat.column == 9 %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}